





Children







<div>
    <div>
        <span>Adults</span>
        <span>Ages 13 or above</span>
    </div>
    <div>
        <button className="px"></button>
        <span></span>
        <button></button>
    </div>
</div>

<div>
    <div>
        <span>Children</span>
        <span>Ages 2–12</span>
    </div>
    <div>
        <button></button>
        <span></span>
        <button></button>
    </div>
</div>

<div>
    <div>
        <span>Infants</span>
        <span>Under 2</span>
    </div>
    <div>
        <button></button>
        <span></span>
        <button></button>
    </div>
</div>

<div>
    <div>
        <span>Pets</span>
        <span>Bringing a service animal?</span>
    </div>
    <div>
        <button></button>
        <span></span>
        <button></button>
    </div>
</div>